:root {
	--mdc-theme-primary: white;
  --mdc-theme-secondary: #6200ee;
	--mdc-theme-on-primary: black;
}

.fullwidth {
	width: 100%;
}

.scenariocard {
	width: 100%;
	text-align: center;
	margin-top: 1.5em;
	background-color: j;
}

.scenariocardcontent {
	margin-top: .5em;
	margin-bottom: .5em;
	font-size: 1.5em;
	/*text-align: center;*/
	float: center;
}

.topmargin {
	margin-top: 1.5em;
}

.tbmargin {
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.hiddenc {
	display: none;
}

.gifttitle {
	vertical-align: middle;
}
.giftdetails {
}

.lrmargin {
	margin-left: 1em;
	margin-right: 1em;
}

.giftdetailstext {
	/*margin-top: 1em;*/
	margin-left: 1em;
	margin-right: 1em;
	/*margin-bottom: 1em;*/
}
.cardscontainer {
	width: 370;
}

.floatright {
	float: right;
}

.tablecard {
	margin: 0 0 10px 10px;
}

.tablerow:after {
	content: "";
	display: table;
	clear: both;
}

.mdc-title-text {
	color: black;
}



.maincontent {
	background-color: var(--mdc-theme-primary-bg, "black")
	border-radius: 4px;
}



